/*
preto #141414
branco #fafafa
creme #fefce8
vermelho #d9043d
roxo #9125d9
verde #0a5324
amarelo #f2ce16
laranja #d95204
marrom #5b3a00
ciano #00c1ea
*/
html {
  overflow-x: hidden;
  background-color: #141414;
  scroll-behavior: smooth;
}

body {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  color: #fefce8;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  background-color: #141414;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-width: 100%;
}


button{
  
  border: none;
  background: none;
}

* {
  box-sizing: border-box;
}

section {
  padding: 5rem 2rem; /* desktop ok */
}


h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
}
/*header*/


header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #141414;
  height: 5vw;
  padding: 1rem auto;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
  z-index: 1000;  
}

header a img{
  height:6rem;
}

.header-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

.header-buttons a{
  border: none;
  background: none;
  color: #fafafa;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  transition: all 0.15s linear;
  font-family: "Boldonse", system-ui;
}

.header-buttons a:hover{
  color: #9125d9;
}

#bheader{
  height: fit-content;
  border: 1px solid #9125d9;
  color: #fafafa;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-weight: bold;
  background: linear-gradient(to top, transparent 15%, #9125d9) no-repeat;
  background-size: 100% 0%;
  transition: all .25s ease;
}

#bheader:hover{
  background-size: 100% 100%;
  scale: 1.05;
}

.menu-toggle{
  display: none;
  background: none;
  border: none;
  color: #fafafa;
  font-size: 2rem;
  cursor: pointer;
}

/* end header*/

/* hero page */
.hero-page-container {
  position: relative;
  width: 100%;
  height: 55vh; /* metade da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin-top: 5vw;
}

.hero-page-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* end hero page */

/* container apresentação */


.card-apresentacao .conteudo {
  max-height: none;
}

.container-apresentacao{
  display: flex;
  flex-direction: row;
  padding: 0px 0px 5rem 0px;
  justify-content: space-around;
}

.card-apresentacao{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, transparent 20%, #9125d9);
  height: auto;
  max-width: 25rem;
  padding: 3rem 2rem;
  border-radius: 3rem;
  font-size: 1.25rem;
  gap: 2rem;
  text-align:unset;
  margin: 0 .5rem;
}

.card-apresentacao h2 {
  align-content: center;
    text-align: center;
    min-height: 5.75rem;
}


/* end apresentação */

/* container feedback */

.container-feedback{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.container-feedback h1{
  font-size: 3rem;
  align-self: self-start;
  border-bottom: .5rem solid; /* define a espessura */
  border-image: linear-gradient(to right, #fafafa 75%, transparent) 1;
  width: 25%;
}

.feedback-icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

.feedback-icons button{
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: #fafafa;
  border-radius: 1.5rem;
  transition: all .15s linear;
  width: 12rem;
  height: 12rem;
}


.feedback-icons button:hover{
  scale: 1.05;
  box-shadow: 0 15px 30px -15px #9125d9;
}
.feedback-icons button.active{
  scale: 1.25;
  box-shadow: 0 15px 30px -5px #9125d9;
}

.feedback-icons img{
  height: auto;
  width: auto;
  object-fit: contain;
  object-position: center;
  padding: 1rem;
}

.content-feedback {
  max-width: 70rem;
  border-radius: 3rem;
  background-color: #9125d9;
  background-image: url("IMG/wave-lines.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.feedback {
  padding: 3rem 5rem;
  display: none;
  transition: all .15s linear;
  opacity: 0;
}

.feedback.active{
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 100%;
}


/*  end feedback */

/* quem somos container */

.container-us{
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
}

.container-us h1{
  align-self: flex-start;
  font-size: 3rem;
  border-bottom: .5rem solid;
  border-image: linear-gradient(to right, #fafafa 65%, transparent) 1;
  width: 20vw;
}

.container-us p{
  padding-left: 18vw;
  margin: 1rem 0;
}

/* end quem somos */

/*carrossel*/
.slider-container {
  display: inline-block;
  box-shadow: 0 0 1rem #111111;
}

.slider {
  --item-width: clamp(120px, 20vw, 300px);
  --item-height: clamp(80px, 12vw, 160px);
  --duration: 20s;

  width: 100%;
  height: var(--item-height);
  background: #111111;
  box-shadow: 0 0 15px 15px #111111;
  overflow: hidden;
}

.slider .list {
  display: flex;
  min-width: calc(var(--item-width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--item-width);
  height: var(--item-height);
  position: absolute;
  left: 100%;
  animation: autoRun var(--duration) linear infinite;
  animation-delay: calc(
    (var(--duration) / var(--quantity)) * (var(--position) - 1) - var(--duration)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.5s, transform 0.2s;
}

.slider .list .item img {
  max-width: 90%;
  max-height: 90%;
  height: auto;
  object-fit: contain;
}

.slider:hover .item {
  animation-play-state: paused;
  filter: grayscale(1);
}

.slider .item:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--item-width) * -1);
  }
}

/* forms */

.container-forms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container-forms h1{
    font-size: 3rem;
    border-bottom: .5rem solid;
    border-image: linear-gradient(to right, transparent, #fafafa, transparent) 1;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;
}

form input::placeholder{
  font-size: 1.25rem;
}

.forms-row{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.forms-content{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.forms-content input, 
.forms-content select,
.forms-content textarea {
  border: none;
  border-radius: 1rem;
  height: 3rem;
  width: 25rem;
  font-size: 1.25rem;
  padding: .5rem 1rem;
}

form button{
  background: #9125d9;
  border-radius: 1rem;
  width: fit-content;
  align-self: center;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: 
  transform 0.25s ease,  /* para o scale */
  color 0.25s ease,      /* para a cor do texto */
  background 0.5s ease;  /* para o gradiente */
  color: #fafafa;
}

form button:hover {
  background: #7d21bb;
  color: #a1a1a1;
  transform: scale(1.05);
}


.popup-sucesso {
  display: none; 
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.popup-conteudo {
  position: relative; /* 🔥 ADICIONE ISSO */
  background-color: #141414;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation: popupAnim 0.3s ease-out;
}

.popup-conteudo h2 {
  margin-bottom: 1rem;
  color: #9125d9;
}

.popup-conteudo p {
  margin-bottom: 1rem;
}

.close {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

@keyframes popupAnim {
  from { transform: translateY(-50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}


/* end forms */

/*footer*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: black;
  padding: 5rem 0;
  font-size: 1.25rem;
}

.icon-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-weight: bold;
}

.icon{
  width: 10rem;
  height: 10rem;
  background-image: url("IMG/Noff v2 SF.png");
  background-size: cover;
  background-repeat: no-repeat;
}


.icon-contato-content{
  display: flex;
  flex-direction: column;
}

.content-fast-menu{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fast-menu{
display: flex;
flex-direction: row;
gap: 1rem;
}

.fast-menu a{
  color: #ffffff;
  transition: all .25s ease;
}

.fast-menu a:hover{
  color: #9125d9;
}

.social{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-icon{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.social a{
  width: 3rem;
  height: 3rem;
  background: #9125d900;
  border-radius: .5rem;
  transition: all .25s ease;
}
.social a:hover{
  background: #9125d9;
}

.social a img{
  width: 3rem;
  transition: all .25s ease;
}

.social a img:hover{
  scale: 1.10;
  transform: translate(.30rem, -.30rem);
}

.button-wpp img {
  visibility: hidden;
  border-radius: 100%;
  opacity: 0;
}

.button-wpp img.roll {
  width: 5rem;
  height: 5rem;
  position: fixed;
  background-color: #29A71A;
  opacity: 95%;
  right: 12px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px #000;
  visibility: visible;
  border: 0;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  padding: .25rem;
}

.button-wpp img:hover{
  scale: 1.15
}


@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* Ajustes gerais para telas menores */

@media screen and (max-width: 1060px) {


  section {
    padding: 2rem 1rem;
  }

 header{
    justify-content: space-between;
    padding: 0 1.5rem;
    height: 80px;
  }

  header a img{
    height: 4rem;
  }

  /* mostra hamburger */
  .menu-toggle{
    display: block;
  }

  /* menu escondido */
  .header-buttons{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background: #141414;

    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;

    display: none;
  }

  /* menu aberto */
  .header-buttons.active{
    display: flex;
  }

.hero-page-container{
  padding-top: 2rem;
  height: fit-content;
}

  .hero-page-container video {
  object-fit: contain;
}

  .container-apresentacao {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .feedback-icons {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .feedback-icons img {
    height: 6rem;
  }

  .feedback-icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

.feedback-icons button{
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: #fafafa;
  border-radius: 1.5rem;
  transition: all .15s linear;
  width: 7rem;
  height: 7rem;
}


  .content-feedback {
    width: 90%;
    height: auto;
    padding: 1rem;
  }

  .feedback.active {
    font-size: 1.2rem;
    transition: all .25s ease;
  }

  .feedback {
    padding: 1rem 1rem;
  }


.container-us{
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-size: 1.25rem;
}

.container-us h1{
    font-size: 2rem;
    width: 90%;
    align-self: center;
    text-align: center;
    border-bottom-width: .3rem;
    border-image: linear-gradient(to right, transparent, #fafafa, transparent) 1;
}

.container-us p{
  align-self: center;
  padding-left: 0px;
  margin: 1rem 0;
}

.container-forms {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-forms h1 {
  font-size: 2rem;

}

.forms-row{
  display: flex;
  flex-direction: column;
}

.forms-content input, 
.forms-content select,
.forms-content textarea {
  border: none;
  border-radius: 1rem;
  height: 3rem;
  width: 90vw;
  font-size: 1.25rem;
  padding: .5rem 1rem;
}

footer{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fast-menu{
display: flex;
flex-direction: column;
gap: 1rem;
}

.social{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-content{
  display: flex;
  flex-direction: column;
}

.icon{
  width: 14rem;
  height: 7rem;
  background: url(IMG/Noff\ Completo\ v1\ SF_1\ BRANCO.png);
  background-size: contain;
  background-repeat: no-repeat;
}

}

@media screen and (max-width: 840px) {
  
  .container-apresentacao {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .card-apresentacao {
    padding: 2rem 2rem 1.5rem 2rem;
    gap: 0;
  }

  .card-apresentacao.active {
    padding: 2rem;
    gap: 2rem;
  }

  .card-apresentacao .conteudo {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .card-apresentacao h2 {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 6rem;
  }

  .card-apresentacao h2::after {
    content: "▼";
    font-size: 1rem;
    transition: transform 0.3s ease;
  }

  .card-apresentacao.active h2::after {
    transform: rotate(180deg);
  }

  
  .container-feedback{
    max-width: fit-content;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  } 

  .container-feedback h1 {
    font-size: 2rem;
    width: 60%;
    align-self: center;
    text-align: center;
    border-bottom-width: .3rem;
    border-image: linear-gradient(to right, transparent, #fafafa, transparent) 1;
  }

  
}